body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0a0f0b;
  color: #e0f5e9;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Избежим ненужного прокручивания */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(145deg, #0c1a12, #172623);
  color: #e0f5e9;
  overflow: hidden; /* Полная адаптация под экран */
}

.App-header {
  background-color: #0c1a12;
  padding: 10px; /* Меньше отступов для экономии пространства */
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 255, 0, 0.2);
  color: #e0f5e9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px; /* Уменьшаем высоту */
}

.App-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0a0f0b;
  padding: 10px; /* Оптимизация отступов для мобильных */
}

.App-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #0c1a12;
  box-shadow: 0 -4px 10px rgba(0, 255, 0, 0.2);
  height: 60px; /* Уменьшаем высоту */
}

.pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0a0f0b;
  width: 100%; /* Занимаем всю ширину экрана */
  height: 70vh; /* Высота 70% для PDF */
  padding: 10px; /* Меньше отступов */
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 255, 0, 0.2);
}

.react-pdf__Page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: auto;
  object-fit: contain;
}

.react-pdf__Page__canvas {
  width: 100% !important; 
  height: auto !important;
  object-fit: contain !important;
}

/* Скрытие текстового слоя и слоя аннотаций */
.react-pdf__Page__textContent {
  display: none !important;
}

.react-pdf__Page__annotations {
  display: none !important;
}

.file-input {
  display: none;
}

.file-label,
.file-label-small {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #33d17a, #0b3f26);
  color: white;
  padding: 8px 16px; /* Оптимизация размера для мобильных */
  border-radius: 8px; /* Мягкие углы для мобильных устройств */
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 255, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.file-label:hover,
.file-label-small:hover {
  background-color: #1b6e4b;
}

.file-label-small {
  padding: 5px 10px;
  font-size: 12px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.page-input {
  width: 50px;
  padding: 5px;
  margin: 0 8px;
  border: 1px solid #33d17a;
  border-radius: 5px;
  background-color: #0a0f0b;
  color: #e0f5e9;
}

.ios-button {
  background: linear-gradient(145deg, #33d17a, #0b3f26);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px; /* Оптимизированный размер кнопки */
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 255, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.ios-button:hover {
  background-color: #1b6e4b;
}

.range-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

.speed-range {
  width: 300px; /* Ширина ползунка */
  height: 15px;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  margin-top: 10px;
}

.speed-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00fd0a;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #00fd0a;
}

.speed-range::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00fd0a;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #00fd0a;
}

.speed-range::-ms-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00fd0a;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #00fd0a;
}

.range-value {
  font-size: 2rem;
  color: #999;
  margin-top: 10px;
  text-align: center;
}


.word-display {
  font-size: 24px; /* Уменьшаем для мобильных */
  font-weight: bold;
  color: #33d17a;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .pdf-container {
    width: 100%; 
    height: 60vh;
  }

  .word-display {
    font-size: 22px;
  }

  .ios-button {
    padding: 6px 12px;
    font-size: 12px;
  }

  .file-label-small {
    padding: 4px 6px;
    font-size: 10px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 15, 11, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: linear-gradient(145deg, #0b3f26, #1c6e4b);
  padding: 20px; /* Меньше отступов */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 255, 0, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal-content h2 {
  margin-bottom: 10px;
  color: #e0f5e9;
  font-size: 18px;
}

.modal-content .ios-button {
  font-size: 14px;
  padding: 8px 16px;
  background: linear-gradient(145deg, #33d17a, #0b3f26);
}

.close-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.close-button {
  font-size: 14px;
  background: linear-gradient(145deg, #33d17a, #0b3f26);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
