body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0a0f0b;
  color: #e0f5e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(145deg, #0c1a12, #172623);
  color: #e0f5e9;
}

.App-header {
  background-color: #0c1a12;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 255, 0, 0.2);
  color: #e0f5e9;
}

.App-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0a0f0b;
  padding: 20px;
}

.App-footer {
  padding: 20px;
  background-color: #0c1a12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -4px 10px rgba(0, 255, 0, 0.2);
}

.pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a0f0b;
  width: 80%; /* Установим ширину контейнера на 80% экрана */
  max-width: 900px; /* Максимальная ширина */
  height: 80vh; /* Высота 80% от высоты окна */
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 255, 0, 0.2); /* Добавим небольшую тень для акцента */
}

.react-pdf__Page {
  max-width: 100%; /* Ширина страницы не может превышать ширину контейнера */
  max-height: 100%; /* Высота страницы не может превышать высоту контейнера */
  width: auto;
  height: auto;
  object-fit: contain; /* Сохраняем пропорции страницы при масштабировании */
}

.react-pdf__Page__canvas{
  max-height: 100%;
}

/* Скрытие текстового слоя и слоя аннотаций */
.react-pdf__Page__textContent {
  display: none !important;
}

.react-pdf__Page__annotations {
  display: none !important;
}

.file-input {
  display: none;
}

.file-label,
.file-label-small {
  background: linear-gradient(145deg, #33d17a, #0b3f26);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 255, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.file-label:hover,
.file-label-small:hover {
  background-color: #1b6e4b;
}

.file-label-small {
  padding: 5px 10px;
  font-size: 12px;
  position: relative;
}

.controls {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.page-input {
  width: 60px;
  padding: 5px;
  margin: 0 10px;
  border: 1px solid #33d17a;
  border-radius: 5px;
  background-color: #0a0f0b;
  color: #e0f5e9;
}

.ios-button {
  background: linear-gradient(145deg, #33d17a, #0b3f26);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 255, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.ios-button:hover {
  background-color: #1b6e4b;
}

.range-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.speed-range {
  margin-right: 10px;
  background-color: #0c1a12;
  color: #e0f5e9;
}

.word-display {
  font-size: 32px;
  font-weight: bold;
  color: #33d17a;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .pdf-container {
    width: 90%; /* Для мобильных устройств контейнер будет занимать больше ширины */
    height: 60vh; /* Высота контейнера станет меньше на мобильных устройствах */
  }

  .word-display {
    font-size: 28px;
  }

  .ios-button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .file-label-small {
    padding: 5px 8px;
    font-size: 12px;
  }
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 15, 11, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: linear-gradient(145deg, #0b3f26, #1c6e4b);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 255, 0, 0.5);
  text-align: center;
  position: relative;
}

.modal-content h2 {
  margin-bottom: 20px;
  color: #e0f5e9;
}

.modal-content .ios-button {
  font-size: 18px;
  padding: 10px 30px;
  background: linear-gradient(145deg, #33d17a, #0b3f26);
}

/* Стиль для контейнера кнопки закрытия */
.close-button-container {
  margin-top: 20px;
}

.close-button {
  font-size: 16px;
  background: linear-gradient(145deg, #33d17a, #0b3f26);
  color: white;
}
