/* Основные настройки для тела и HTML */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0a0f0b; /* Темный фон для комфортного чтения */
  color: #e0f5e9; /* Цвет текста */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Избежать ненужного прокручивания */
}

/* Стилизация главного контейнера */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Использование всей доступной высоты */
  width: 100vw; /* Использование всей доступной ширины */
  background: linear-gradient(145deg, #0c1a12, #172623);
  color: #e0f5e9;
  overflow: hidden; /* Полная адаптация под экран */
}

/* Заголовок приложения */
.App-header {
  background-color: #0c1a12;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 255, 0, 0.2);
  color: #e0f5e9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px; /* Уменьшение высоты */
}

/* Главное содержимое для отображения PDF */
.App-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0a0f0b;
  padding: 10px; /* Оптимизация отступов для мобильных */
}

/* Футер с элементами управления */
.App-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #0c1a12;
  box-shadow: 0 -4px 10px rgba(0, 255, 0, 0.2);
  height: 60px; /* Уменьшение высоты */
}

/* Контейнер для PDF */
.pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0a0f0b;
  width: 90%; /* Полная ширина */
  height: 70vh; /* Процент высоты для PDF */
  padding: 10px;
  overflow-y: auto; /* Прокрутка при необходимости */
}

.react-pdf__Page__canvas {
  width: 100% !important; 
  height: 40% !important;
  object-fit: contain !important;
}

/* Скрытие текстового слоя и слоя аннотаций в PDF */
.react-pdf__Page__textContent, .react-pdf__Page__annotations {
  display: none !important;
}

/* Стилизация ввода файла и меток */
.file-input {
  display: none; /* Скрытие стандартного input */
}

.file-label, .file-label-small {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #33d17a, #0b3f26);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 255, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.file-label:hover, .file-label-small:hover {
  background-color: #1b6e4b; /* Подсветка при наведении */
}

.file-label-small {
  padding: 5px 10px; /* Меньше для мобильных */
  font-size: 12px;
}

/* Стилизация элементов управления */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.page-input {
  width: 50px; /* Ширина поля ввода */
  padding: 5px;
  margin: 0 8px;
  border: 1px solid #33d17a;
  border-radius: 5px;
  background-color: #0a0f0b;
  color: #e0f5e9;
}

.ios-button {
  background: linear-gradient(145deg, #33d17a, #0b3f26);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 255, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.ios-button:hover {
  background-color: #1b6e4b;
}

/* Стилизация ползунка скорости */
.range-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

.range-value {
  font-size: 2rem;
  color: #999;
  margin-top: 10px;
  text-align: center;
}

.speed-range {
  width: 300px;
  height: 15px;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  margin-top: 10px;
}

.speed-range::-webkit-slider-thumb, .speed-range::-moz-range-thumb, .speed-range::-ms-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00fd0a;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #00fd0a; /* Эффект заполнения */
}

@media (max-width: 768px) {
  .pdf-container {
    height: 60vh;
  }

  .word-display, .ios-button {
    font-size: smaller; /* Уменьшенный размер для мобильных */
  }

  .file-label-small {
    padding: 4px 6px; /* Меньше для мобильных */
    font-size: smaller;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 15, 11, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: linear-gradient(145deg, #0b3f26, #1c6e4b);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 255, 0, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal-content h2 {
  margin-bottom: 10px;
  color: #e0f5e9;
  font-size: 18px;
}

.modal-content .ios-button {
  font-size: 14px;
  padding: 8px 16px;
  background: linear-gradient(145deg, #33d17a, #0b3f26);
}

.close-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.close-button {
  font-size: 14px;
  background: linear-gradient(145deg, #33d17a, #0b3f26);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
